* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: grey;
    border: black solid 4px;
    padding: 1%;
    margin-top: 2%;
}

.number-display-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    min-width: 100%;
    border: darkgray solid 4px;
    background-color: black;
    color: white;
    padding: 2%;
}

.result {
    font-size: medium;
}

.input {
    font-size: x-large;
}

.input-container {
    display: flex;
    flex: 1;
    align-items: stretch;
    border: darkgray solid 2px;
}

.number-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    border: darkgray solid 2px;
}

.number-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.operator-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: darkgray solid 2px;
}

.number,
.operator,
.equal {
    aspect-ratio: 1/1;
}

.clear {
    flex: 2;
}

.number,
.clear {
    min-height: 5vh;
    min-width: 24;
}

.operator,
.equal {
    min-height: 4vh;
    min-width: 24px;
}

button {
    font-size: x-large;
    border: gray outset 2px;
    border-radius: 6px;
    background-color: white;
}